 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'weblysleek_uisemilight';
}

.navbar {
  display: flex;
  position: fixed;
  z-index: 1;
  justify-content: space-between;
  /* scroll-behavior: smooth; */
  width: 100%;
  height: 73px;
  background-color: rgb(244, 244, 247);
}
.nav-logo-div {
  display: flex;
  margin-left: 90px;
  align-items: center;
  gap: 5px;
}
img {
  width: 44px;
}
.nav-logo-div > p {
  font-family: 'weblysleek_uisemilight';
  font-weight: 800;
  color: #333333;
  font-size: x-large;
}
.nav-content {
  display: flex;
  gap: 40px;
  font-family: "mMontserrat-Bold";
  font-size: 13px;
  justify-content: center;
  align-items: center;
  margin-right: 153px;
}

.nav-content > :nth-child(1) {
  color: rgb(10, 172, 236);
}
.nav-content > i {
  width: 40px;
  color: rgb(41, 219, 219);
  height: 40px;
  border: 1px solid rgb(0, 247, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: large;
}

.nav-content p:hover {
  color: rgb(10, 172, 236);
}

.header-content {
  position: relative;
  width: 100%;
  height: 96vh;
}
.content {
  position: absolute;
  top: 36%;
  left: 8%;
  width: 41%;
  color: #333333;
  font-size: 19.7px;
  font-stretch: ultra-expanded;
  display: flex;
  flex-direction: column;
  gap: 30px;
  letter-spacing: 2.2px;
}
.content > p {
  opacity: 0.5;
  font-family: 'weblysleek_uisemilight';
  font-size: 23px;
  letter-spacing: -1px;
  width: 107%;
}

.content > button {
  width: 35%;
  padding: 16px 10px;
  border-radius: 50px;
  background-color: #007ee5;
  color: white;
  border: 0;
}

.header-content > img {
  width: 100%;
  margin-top: 65px;
}

.header-next-div {
  width: 100%;
   height: 55vh; 
  margin-top: 7%;
  /* position: absolute; */
  position: relative;
  /* top: 3%;   */
}
#str{
    display:inline-flex;
    opacity: .77;
}

.header-next-div > span {
  color: #007ee5;
  position: absolute;
  top: 30%;
  font-size: 31px;
  font-stretch:condensed;
  /* word-spacing: 3px; */
  font-weight: 100;
  left: 8%;
}
.header-next-div> p{
  position: absolute;
  width: 38%;
  top: 45%;
  font-family: 'weblysleek_uisemilight';
  line-height: 38px;
  font-stretch: ultra-condensed;
  font-size: 18.2px;
  color:#626464c0;
  opacity: -1px;
  left: 8%;
} 
.header-next-div>img{
    width: 50%;
    height: 48vh;
    position: absolute;
    left:50%;
    top:12.3% ;
    
}


.i-btn{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left:68%;
    border-radius: 50%;
    background-color: rgba(94, 92, 95, 0.418);
    
    top:36%;    
}

.i-btn>i:hover{
    color:rgb(17, 19, 16);
}
.i-btn>i{
    width: 85px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
    left:70%;
    border-radius: 50%;
    color:#007ee5;
    background-color: wheat;
    top:28%;    
}
.header-next-div>:nth-child(5){
    left:76%;
    color:rgba(255, 255, 255, 0.774);
    width: 9%;
    font-size: 10.8px;
}

.feature-div{
    width: 100%;
    height: 90vh;
    margin-top: 2.2%;
    /* position: absolute; */
    position: relative;
    /* border: 4px solid red; */
    background-color: #f4f4f4;
    /* top: 171%; */
}
 .feature-div>img{
    width: 39%;
    height:42vh;
    margin-top: 11%;
    margin-left: 8%;
    left:9.9%;
    top:50%;
 }
 #best-featured{
    position: absolute;
    width: 50%;
    height: 50vh;
    top:197%;
    left:51%;
 }

 #best-featured>h4{
    color:#007ee5;
    font-stretch: extra-condensed;
    font-size: 33px;
    letter-spacing: .3px;
    line-height: 50px;
    
 }
#featured{
    font-stretch: extra-condensed;
    display: inline-flex;
    font-weight: 100;
    letter-spacing: .1px;
    opacity: .8
}
#best-featured>p{
    
    color:#807c7c;
    font-size:20.4px;
    font: weight 100px;
    font-family: 'weblysleek_uisemilight';
    
    font-stretch: extra-condensed;
    word-spacing: .38px;
    letter-spacing: .2px;
    width: 85%;
    line-height: 30px;
}

.feature-main-div{
    display: flex;
    justify-content: space-between;
}
.logo-img>img{
    position: absolute;
    color: #51b8d7;
    top:227%;
    left:51%;
}
.logo-img>p{
  position: absolute;
  color: #51b8d7;
  top:226.7%;
  font-stretch: ultra-condensed;
  font-family: 'weblysleek_uisemilight';
  font-size: 22px;
  left:55%;
  letter-spacing: 3px;
}

.logo-img>span{
  position: absolute;
  color:#757587;
    word-spacing: 1px;
  top:231.6%;
  width: 39%;
  line-height: 24px;
  font-family: 'weblysleek_uisemilight';
  font-size: 16px;
  left:55%;
}

.logo-img>:nth-child(4){
  position: absolute;
  color: #51b8d7;
  top: 243%;
  width: 40%;
  font-family: 'weblysleek_uisemilight';
  left:56.8%;
    height: 20vh;
    line-height: 23.1px;
    width: 30%;
    
}
.logo-img>:nth-child(5){
  position: absolute;
  color:#757587;
    word-spacing: 1px;
  top:248%;
  width: 36%;
  line-height: 26px;
  font-family: 'weblysleek_uisemilight';
  font-size: 16px;
  line-height: 24px;
  left:57%;
}

.testimonials{
  /* border: 3px solid rgb(243, 12, 12); */
  height: 86vh;
  margin-top: 1.9%;
  border: 1px solid red;;
  /* position: absolute; */
  position: relative;

  top:261.6%;
  /* left: -2.8em;%; */ 
  
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.testimonials-inner>img{
  width:100%;
  height:91vh;
  left:23%;
}
.satisfied-content>img{
   position: absolute;
   top:13%;
   left:43%;
   width: 7.1%;
}

.satisfied-content>p{
  position: absolute;
  top: 33%;
  text-transform: capitalize;
  left:42%;
  width: 11%;
  color:rgba(255, 255, 255, 0.705);
}

.satisfied-content>:nth-child(3){
      width:62%;
      position: absolute;
      /* border: 2px solid red; */
      top:47%;
      left:25%;
      text-align: center;
      font-size: 28px;
      color:rgba(250, 235, 215, 0.788);
      font-family: 'weblysleek_uisemilight';
}
.satisfied-content:hover{
  transform: rotatez(360deg);
  left:45%;
  position: absolute;
}
.workflow{
  width: 100%;
  height: 50vh;
  margin-top: 2.8%;
  position: relative;
  top:360%;
  
}
.workflow>img{
  width: 46.8%;
  height: 48vh;
  position: absolute;
  left:53.6%;
  top:-1.1%;
}

  .workflow>span{
    font-size: 31px;
    margin-left: 8.9%;
    position: absolute;
    color: #007ee5;
    top:14%;
  }
.workflow>span>p{
  display: inline-flex;
  opacity: .77;
  /* margin-top: 3%; */
}
.workflow>span>:nth-child(3){
  /* position: absolute; */
  width:48%;
  display: block;
  top: 35%;
  font-family: 'weblysleek_uisemilight';
  line-height: 37px;
  font-stretch: ultra-condensed;
  font-size: 20.6px;
  color:#626464c0;
  opacity: -1px;
  left: 8%;
}

.get-pro-main{
  width: 100%;
  height: 190vh;
  position: absolute;
  top:413.2%;
  /* border: 1px solid black;; */

  background-color: #f4f4f4;

}
.get-pro-main> span{
  font-size:39px;
    display: flex;
    font-family: 'weblysleek_uisemilight';
  font-stretch: ultra-condensed;
  justify-content: center;
   align-items: center;
   color: #007ee5;
   margin-top: 12%;
}
.get-pro-main>div>span>p{
  margin-left:6.8px;
  word-spacing: 5px;
  letter-spacing: .9px;
  font-stretch: ultra-condensed;
  opacity: .9;
}

.table-main{
  width: 83%;
  height: 90vh;
  margin: auto;
  margin-top: 6.9%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;;
}
.table-inner{
  width: 98.5%;
  height: 86vh;
  margin: auto;
  /* margin-top: 6.9%; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color: white;
}
#self-table{
  display: flex;
  
  justify-content: space-between;
  border:1px solid #0f0e0e;

}
.table-data{
    display:flex;
    
}


.team-work{
  width:8%;
  color: #007ee5;
  
}